{deps, [
]}.

{dialyzer, [
    {warnings, [
        underspecs,
        no_return,
        error_handling,
        unknown
    ]},
    {plt_apps, top_level_deps},
    {get_warnings, true}
]}.

{erl_opts, [
    debug_info,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    % warn_missing_spec,
    warn_untyped_record
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/mmzeeman/ambit">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
